<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Yel-Camp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/campgrounds">Campgrounds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/campgrounds/new">New Campground</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <!-- Profile Icon Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person fs-4"></i> <!-- Profile icon -->
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if (!userStatus) {%>
                <li class="nav-item ms-auto"></li>
                <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item ms-auto"></li>
                  <a class="nav-link" href="/register">Register</a>
                </li> 
                <%} else {%>
                  <li class="nav-item ms-auto"></li>
                    <a class="nav-link" href="/user/<%= userStatus._id %>">Profile</a>
                  </li>
                  <li class="nav-item ms-auto"></li>
                  <a class="nav-link" href="/logout">Logout</a>
                  </li>
                <%}%>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>